* {
    /* Свойства для сброса начальных стилей элементов */
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    width: 1440px;
    height: 70px;
    background-color: #2965f1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    /* font-family: "Inter", sans-serif; */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    width: 1440px;
    min-height: 100vh;
    background-color: #fafaff;
    padding: 60px 0;
}

.main-title {
    /* Стили для заголовка в первой секции */
    /* font-family: "Inter", sans-serif; */
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    /* font-family: "Inter", sans-serif; */
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    /* Стили для изображения в первой секции */
    width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color:#fff;
    width: 1440px;
    height: 883px;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    /* font-family: "Inter", sans-serif; */
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    appearance: none;
    background-image: url(/ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-left: 12px; 
   
}

.section-title {
    /* Стили для заголовков во второй секции */
    /* font-family: "Inter", sans-serif; */
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    /* font-family: "Inter", sans-serif; */
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 80px;
    height: 57px;
    background: #fff;
    padding-left: 20px;
    list-style-type: none;
    list-style-image: url(/solar_map-arrow-up-bold.svg);
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 670px;
    height: 57px;
    background: #fff;
    padding-left: 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    /* display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    width: 475px;
    height: 19px;
    background: #fff; */
    /* font-family: "Inter", sans-serif; */
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    /* font-family: "Inter", sans-serif; */
    width: 330px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
}

.btn {
    /* Стили для кнопки */
    /* font-family: "Inter", sans-serif; */
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
}

.line {
    /* Стили для линии */
    margin: 60px 0;
}

table {
    /* Стили для таблицы */
    /* table-layout: fixed; */
    border-collapse: collapse;
    width: 300px;
    height: 196px;
    border: none;
    margin-bottom: 100px;
}

th, td {
    /* Стили для ячеек таблицы */
    /* font-family: "Inter", sans-serif; */
    font-weight: 400;
    font-size: 14px;
    color: #303030;
    border: 1px solid #95a1bb;
    width: 113px;
    height: 40px;
    padding: 11px 12px 15px;
}

footer {
    /* Стили для футера */
    width: 1440px;
    height: 70px;
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 1px;
}

.footer-link {
    /* Стили для футера */
    /* font-family: "Inter", sans-serif; */
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}